<h1>You're buying:</h1>
<div id="card">
{{#if courses.length}}
    <table>
        <thead>
        <tr>
            <td>Name</td>
            <td>Amount</td>
            <td>Action</td>
        </tr>
        </thead>
        <tbody>
        {{#each courses}}
            <tr>
                <td>{{title}}</td>
                <td>{{count}}</td>
                <td>
                    <button class="btn btn-primary js-remove" data-id="{{id}}">Delete</button>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <p><strong>Total:  </strong><span class="price">{{price}}</span></p>
    <form action="/order" method="POST">
    <button type="submit" class="btn btn-primary js-remove">Create order</button>
    </form>
{{else}}
    <p>Курсов нет</p>
{{/if}}
</div>
